{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/value",
      classes: "govuk-!-margin-bottom-7"
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container" style="overflow-y: auto;">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukPanel({
          titleText: "Calculation complete"
        }) }}

        <p class="govuk-body">{{ model.confirmation }}</p>

        {{ govukTable(model.paymentBand) }}
        {{ govukTable(model.reduction) }}
        <h2 class="govuk-heading-m">
          Your estimated payment after progressive reductions
        </h2>
        {{ govukSummaryList(model.paymentSummary)}}
      </div>
    </div>
  </div>
{% endblock %}
