{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/",
      attributes: {
        id: "back"
      } }) }}
  </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="POST" action="/delinked-calculator" novalidate>
            <input type="hidden" name="crumb" value="{{crumb}}"/>
            <h2 class="govuk-heading-l">Enter your delinked payment reference amount</h2>
            <p class="govuk-body">
              This calculator will estimate your payment for each of the years 2024 to 2027 based on the reference amount you enter.
            </p>
            <p class="govuk-body">
              You were sent your reference amount in the delinked payments information statement.
            </p>
            <p class="govuk-body">
              This amount will have changed if BPS 2020, 2021 and 2022 reference data has either:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>been transferred in or out of your business</li>
              <li>changed following a payment query</li>
            </ul>
            <p class="govuk-body">
              You can view your current reference amount and any data transfers in the
              <a class="govuk-link" href="https://www.ruralpayments.service.gov.uk/customer-account/login">Rural Payments service.</a>
            </p>
            {{ govukInput(model) }}
            {{ govukButton({
              text: "Calculate my delinked payment",
              attributes: { id: "submit" }
            }) }}
          </form>
        </div>
      </div>
    </div>
{% endblock %}
