{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/",
      attributes: {
        id: "back"
      } }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="/value" novalidate>
          <input type="hidden" name="crumb" value="{{crumb}}"/>
          {{ govukInput(model) }}
          {{ govukButton({
            text: "Calculate my progressive reductions",
            attributes: {
              id: "submit"
            }
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}